:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    
    
}
nav{
    color: #fc9105;
    .logo{
        font-size: 1.3rem;
    }
}

/* Introduced a Showcase Section - image flexbox under title  */
.hero-section,
.showcase-section,
.mission-section,
.statistics-section,
.next-section {
    
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    /* added L/R padding to every section on desktop, removed it on mobile  */
    padding-left: 15%;
    padding-right: 15%;
        

    &--title {
        font-size: 2.5rem;
        font-weight: 700;
        color: #fc9105;
    }

    &--subtitle {
        font-size: 1.5rem;
    }

    &--content {
        font-size: 1.2rem;
        font-weight: 600;
    }
        
    @media only screen and (max-width: 600px) {
    
        padding-left: 0%;
        padding-right: 0%;
    
    }
}
   

.hero-section {
    align-items: center;

    &--title {
        font-family: "Georgia", serif;
        font-size: 3.5rem;
        text-align: center;
        
    }

    &--subtitle {
        text-align: center;
    }

    /* no image here anymore so no need - didnt wanna delete
    img {
        max-height: 350px;
    }
    */
}


/* introduced showcase section - image flexbox under title  */
.showcase-section {

    &--carousel{
        max-width: 640px;
        border-radius: 5%;
    }
    align-items: center;
    


    @media only screen and (max-width: 600px) {
        &--grid {
            grid-template-columns: repeat(2, 1fr);
            padding-left: 0%;
            padding-right: 0%;
        }
    
        
    
    }
}

.mission-section {

    /* Removed the grid since I removed the picture - its just text now. looks fine on mobile
    
    &--content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    } 
    
    */

    @media only screen and (max-width: 600px) {
        &--content {
            grid-template-columns: 1fr;
        }
    }
}

.statistics-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &--content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;

        &--card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            row-gap: 10px;
            background-color: #2e2e2e;
            border-radius: 10px;
            padding: 20px;
            transition: transform 0.25s;

            &--title {
                font-size: 2.5rem;
                font-weight: 500;
                align-self: center;
            }

            &--description {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                gap: 30px;
                font-weight: 600;
                max-height: 200;
                
                .country-northamerica,
                .country-southamerica,
                .country-europe,
                .country-asia,
                .country-africa,
                .country-misc{
                    width: 40%;
                }

                .material-aluminium,
                .material-copper,
                .material-stainless,
                .material-zinc,
                .material-lead,
                .material-misc{
                    width: 40%;
                }

                .country-list-title,
                .material-list-title{
                    font-size: 1.55rem;
                    color: #fc9105;
                    font-weight: 550;
                }


            }

           

            &:hover {
                transform: rotate(0deg);
            }
        }
    }

    @media only screen and (max-width: 600px) {
        &--content {
            grid-template-columns: 1fr;
        }
    }
}


.next-section{
    &--title{
        color: #fc9105;
    }
    &--content{
        font-size: 1.4rem;
        font-weight: 500;

        &--contact{
        font-size: 1.5rem;
        font-weight: 600;

        }
    }
}



.footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    row-gap: 50px;
    padding-bottom: 50px;

    &--column {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        row-gap: 10px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        color: #fc9105;
    }
    &--certs {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        img{
            max-height: 100px;
            max-width: 250px;
        }
    }

    &--copyright{
        display: flex;
        justify-content: center;
    }


    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}