:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    padding: 50px;
}

.hero-section,
.mission-section,
.statistics-section,
.next-section {
    &--title {
        font-size: 2.5rem;
    }

    &--subtitle {
        font-size: 1.5rem;
    }
}

.hero-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;

    &--title {
        font-size: 3.5rem;
    }

    img {
        max-height: 500px;
    }
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding-bottom: 50px;

    &--column {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        text-align: center;
        font-size: 1.2rem;
    }
}