<!-- Navigation -->
<nav [ngsReveal]="revealSettings">
    <a href="https://jdmmetal.com" target="_blank" title="Logo">
        <div title="Logo" class="logo">JDM Metal Trading</div>
    </a>

    <!-- Email -->
    <a href="mailto:juan@jdmmetal.com">
        <i class="eva eva-email" title="Email"></i>
    </a>
</nav>

<!-- Hero -->
<section class="hero-section">
    <!-- Title -->
    <span class="hero-section--title" title="JDM Metal Trading" [ngsReveal]="revealSettings">JDM Metal Trading</span>

    <!-- Subtitle -->
    <span
        class="hero-section--subtitle"
        title="JDM header title"
        [ngsReveal]="revealSettings"
    >
         We buy and sell metals internationally.
    </span>

</section>
<!-- introduced new section - showcase -->

<!-- Showcase -->
<section class="showcase-section">

    <!-- Thumbnail -->
    <div class="showcase-section--grid" [ngsReveal]="revealSettings">
        <img src="/assets/site-pics/COPPER/BARLEY/Barley1.jpg" alt="Thumbnail" />
        <img src="/assets/site-pics/COPPER/T-BIRCH/TBirch3.jpg" alt="Thumbnail" />
        <img src="/assets/site-pics/COPPER/BARLEY/Barley2.jpg" alt="Thumbnail" />
        <img src="/assets/site-pics/COPPER/T-BIRCH/TBirch2.jpg" alt="Thumbnail" />
    </div>

</section>

<!-- Our Mission -->
<section class="mission-section">
    <!-- Title -->
    <span class="mission-section--title" title="About Us" [ngsReveal]="revealSettings">About Us</span>

    <!-- Content -->
    <div class="mission-section--content">
        <!-- Message -->
        <span [ngsReveal]="revealSettings">
            JDM Metal Trading is a family owned business in the international scrap metal trade. We have been operational for over a decade, and conduct business with over 100 partners in 25 countries.
        </span>

        <!-- Preview -->
        <!-- removed image from hero section -->
        <!--div [ngsReveal]="revealSettings">
            <img
                src="https://images.unsplash.com/reserve/aOcWqRTfQ12uwr3wWevA_14401305508_804b300054_o.jpg?q=80&w=1176&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Road"
            />
        </div-->
    </div>
</section>

<!-- Statistics -->
<section class="statistics-section">
    <!-- Title -->
    <span class="statistics-section--title" title="Quick Facts" [ngsReveal]="revealSettings">Quick Facts</span>

    <!-- Content -->
    <div class="statistics-section--content" [ngsReveal]="revealSettings">
        <div class="statistics-section--content--card">
            <span class="statistics-section--content--card--title" title="Materials">Materials</span>
            
            <span
                class="statistics-section--content--card--description"
                title="Materials Traded"
            >

            <div class=material-aluminium>
                <dl>
                    <dt class="material-list-title">Aluminium</dt>
                    <dd class="material-list-item">Class Scrap</dd>
                    <dd class="material-list-item">EC Wire</dd>
                    <dd class="material-list-item">Extrusions</dd>
                    <dd class="material-list-item">MLC</dd>
                    <dd class="material-list-item">RSI</dd>
                    <dd class="material-list-item">Taint Tabor</dd>
                    <dd class="material-list-item">Tally</dd>
                    <dd class="material-list-item">Tense</dd>
                    <dd class="material-list-item">UBC</dd>
                    <dd class="material-list-item">Wheels</dd>
                </dl>
            </div>

            <div class=material-copper>
                <dl>
                    <dd class="material-list-title">Copper</dd>
                    <dd class="material-list-item">Barley</dd>
                    <dd class="material-list-item">Berry Candy</dd>
                    <dd class="material-list-item">Brass Ingots</dd>
                    <dd class="material-list-item">Cathodes</dd>
                    <dd class="material-list-item">Clove</dd>
                    <dd class="material-list-item">Ebony</dd>
                    <dd class="material-list-item">Honey</dd>
                    <dd class="material-list-item">Ocean</dd>
                    <dd class="material-list-item">Off Spec</dd>
                    <dd class="material-list-item">T-Birch</dd>
                    <dd class="material-list-item">Talk</dd>
                </dl>
            </div>

            <div class=material-stainless>
                <dl>
                    <dd class="material-list-title">Stainless Steel</dd>
                    <dd class="material-list-item">SS 304</dd>
                    <dd class="material-list-item">SS 316</dd>
                    <dd class="material-list-item">Special Alloys</dd>
                </dl>
            </div>

            <div class=material-lead>
                <dl>
                    <dd class="material-list-title">Lead</dd>
                    <dd class="material-list-item">Lead Ingots</dd>
                </dl>
            </div>

            <div class=material-zinc>
                <dl>
                    <dd class="material-list-title">Zinc</dd>
                    <dd class="material-list-item">Zinc Ingots</dd>
                    <dd class="material-list-item">Saves</dd>
                </dl>
            </div>

           

            <div class=material-misc>
                <dl>
                    <dd class="material-list-title"><br><br>And More...</dd>
                </dl>
            </div>

            </span>
        </div>
        <div class="statistics-section--content--card">
            <span class="statistics-section--content--card--title" title="Countries">Countries</span>
            <span
                class="statistics-section--content--card--description"
                title="Countries Served"
            >
            <!-- turned the list of countries into an unordered list. maybe not the best? idk  -->
        
            <div class=country-asia>
                <dl>
                    <dd class="country-list-title">Asia</dd>
                    <dd class="country-list-item">China</dd>
                    <dd class="country-list-item">Hong Kong</dd>
                    <dd class="country-list-item">India</dd>
                    <dd class="country-list-item">Japan</dd>
                    <dd class="country-list-item">Malaysia</dd>
                    <dd class="country-list-item">South Korea</dd>
                    <dd class="country-list-item">Taiwan</dd>
                    <dd class="country-list-item">Turkey</dd>
                </dl>
            </div>

            <div class=country-southamerica>
                <dl>
                    <dd class="country-list-title">South America</dd>
                    <dd class="country-list-item">Bolivia</dd>
                    <dd class="country-list-item">Brazil</dd>
                    <dd class="country-list-item">Chile</dd>
                    <dd class="country-list-item">Colombia</dd>
                    <dd class="country-list-item">Ecuador</dd>
                    <dd class="country-list-item">Paraguay</dd>
                    <dd class="country-list-item">Peru</dd>
                    <dd class="country-list-item">Uruguay</dd>
                    <dd class="country-list-item">Venezuela</dd>
                </dl>
            </div>

            <div class=country-africa>
                <dl>
                    <dd class="country-list-title">Africa</dd>
                    <dd class="country-list-item">Morocco</dd>
                    <dd class="country-list-item">South Africa</dd>
                    <dd class="country-list-item">United Arab Emirates</dd>

                </dl>
            </div>

            <div class=country-northamerica>
                <dl>
                    <dt class="country-list-title">North America</dt>
                    <dd class="country-list-item">Canada</dd>
                    <dd class="country-list-item">Mexico</dd>
                    <dd class="country-list-item">United States</dd>
                </dl>
            </div>

            <div class=country-europe>
                <dl>
                    <dd class="country-list-title">Europe</dd>
                    <dd class="country-list-item">Germany</dd>
                    <dd class="country-list-item">Greece</dd>
                    <dd class="country-list-item">Spain</dd>
                    <dd class="country-list-item">United Kingdom</dd>
                </dl>
            </div>

            <div class=country-misc>
                <dl id="mat-list">
                    <dd class="country-list-title"><br><br><br>And More...</dd>
                </dl>
            </div>

            </span>
        </div>
        
    </div>
</section>

<!-- Next Steps -->
<section class="next-section">
    <!-- Title -->
    <span class="next-section--title" title="Contact Us" [ngsReveal]="revealSettings">Contact Us</span>

    <!-- Content -->
    <span class="next-section--content" [ngsReveal]="revealSettings">
        JDM Metal Trading is available by e-mail, phone, WhatsApp, and WeChat. <br><br> We respond to serious inquiries within 24 hours. 
        <br><br> We look forward to doing business with you!
        <br><br><br>

       <span class="next-section--content--contact">
        Jaimez Mayz
        <br>
        JDM Metal Trading
        <br>
        Phone: +1-786-300-7404
       </span>
      
    </span>

    <!-- Button -->
    <!-- removed button - might reinstate -->
    <!-- <div class="next-section--action" [ngsReveal]="revealSettings">
        <a href="mailto:juan@jdmmetal.com">
            <button>E-Mail</button>
        </a>
        
    </div> -->

</section>

<!-- Footer -->
<footer class="footer">
    <!-- Contact -->

    <div class="footer--column" [ngsReveal]="revealSettings">
        <a href="mailto:juan@jdmmetal.com" title="Email">E-mail</a>
        <a href="tel:7863007404" title="Cell Phone">Cell Phone</a>
        <a href="https://www.linkedin.com/in/jaimez-mayz-87682283" target="_blank" title="LinkedIn">LinkedIn</a>
    </div>

    <div class="footer--certs" [ngsReveal]="revealSettings">
        <img src="/assets/site-pics/certs/AQSIQcert.png" alt="Thumbnail" />
        <img src="/assets/site-pics/certs/ISRIMember.jpg" alt="Thumbnail" />
        <!-- <img src="/assets/site-pics/certs/iso9001.png" alt="Thumbnail" /> -->
    </div>

    
    <div class="footer--copyright" [ngsReveal]="revealSettings">
        © JDM Metal Trading 2024
    </div>



    <!-- Social -->
   

    <!-- References 
    <div class="footer--column" [ngsReveal]="revealSettings">
        <a href="https://www.google.com" target="_blank" title="Reference 1">Reference 1</a>
        <a href="https://www.google.com" target="_blank" title="Reference 2">Reference 2</a>
    </div>
            -->
</footer>
