<!-- Navigation -->
<nav [ngsReveal]="revealSettings">
    <a href="https://jdmmetal.com" target="_blank" title="Logo">
        <span title="Logo">Logo</span>
    </a>

    <!-- Email -->
    <a href="mailto:juan@jdmmetal.com">
        <i class="eva eva-email" title="Email"></i>
    </a>
</nav>

<!-- Hero -->
<section class="hero-section">
    <!-- Title -->
    <span class="hero-section--title" title="JDM Metal Trading" [ngsReveal]="revealSettings">JDM Metal Trading</span>

    <!-- Subtitle -->
    <span
        class="hero-section--subtitle"
        title="JDM header title"
        [ngsReveal]="revealSettings"
    >
         We buy and sell metals internationally.
    </span>

</section>
<!-- introduced new section - showcase -->

<!-- Showcase -->
<section class="showcase-section">

    <!-- Thumbnail -->
    <div class="showcase-section--grid" [ngsReveal]="revealSettings">
        <img src="/assets/site-pics/COPPER/BARLEY/Barley1.jpg" alt="Thumbnail" />
        <img src="/assets/site-pics/COPPER/T-BIRCH/TBirch3.jpg" alt="Thumbnail" />
        <img src="/assets/site-pics/COPPER/BARLEY/Barley2.jpg" alt="Thumbnail" />
        <img src="/assets/site-pics/COPPER/T-BIRCH/TBirch2.jpg" alt="Thumbnail" />
    </div>

</section>

<!-- Our Mission -->
<section class="mission-section">
    <!-- Title -->
    <span class="mission-section--title" title="About Us" [ngsReveal]="revealSettings">About Us</span>

    <!-- Content -->
    <div class="mission-section--content">
        <!-- Message -->
        <span [ngsReveal]="revealSettings">
            JDM Metal Trading is a family owned business in the international scrap metal trade. We have been operational for over a decade, and conduct business with over 100 partners in 25 countries.
        </span>

        <!-- Preview -->
        <!-- removed image from hero section -->
        <!--div [ngsReveal]="revealSettings">
            <img
                src="https://images.unsplash.com/reserve/aOcWqRTfQ12uwr3wWevA_14401305508_804b300054_o.jpg?q=80&w=1176&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Road"
            />
        </div-->
    </div>
</section>

<!-- Statistics -->
<section class="statistics-section">
    <!-- Title -->
    <span class="statistics-section--title" title="Quick Facts" [ngsReveal]="revealSettings">Quick Facts</span>

    <!-- Content -->
    <div class="statistics-section--content" [ngsReveal]="revealSettings">
        <div class="statistics-section--content--card">
            <span class="statistics-section--content--card--title" title="Materials">Materials</span>
            
            <span
                class="statistics-section--content--card--description"
                title="Materials Traded"
            >

            <div class=material-aluminium>
                <dl id="mat-list">
                    <dt class="material-list-title">Aluminium</dt>
                    <dd class="material-list-item">Barley</dd>
                    <dd class="material-list-item">Birch Cliff</dd>
                    <dd class="material-list-item">Berry Candy</dd>
                </dl>
            </div>

            <div class=material-copper>
                <dl id="mat-list">
                    <dd class="material-list-title">Copper</dd>
                    <dd class="material-list-item">Honey</dd>
                    <dd class="material-list-item">Ebony</dd>
                    <dd class="material-list-item">Ocean</dd>
                    <dd class="material-list-item">Clove</dd>
                    <dd class="material-list-item">Talk</dd>
                    <dd class="material-list-item">Tense</dd>
                </dl>
            </div>

            <div class=material-zinc>
                <dl id="mat-list">
                    <dd class="material-list-title">Zinc</dd>
                    <dd class="material-list-item">Brass Ingots</dd>
                    <dd class="material-list-item">Lead Ingots</dd>
                    <dd class="material-list-item">UBC</dd>
                </dl>
            </div>

            <div class=material-lead>
                <dl id="mat-list">
                    <dd class="material-list-title">Lead</dd>
                    <dd class="material-list-item">Tally</dd>
                    <dd class="material-list-item">Stainless Steel</dd>
                    <dd class="material-list-item">Aluminium RSI</dd>
                </dl>
            </div>

            </span>
        </div>
        <div class="statistics-section--content--card">
            <span class="statistics-section--content--card--title" title="Countries">Countries</span>
            <span
                class="statistics-section--content--card--description"
                title="Countries Served"
            >
            <!-- turned the list of countries into an unordered list. maybe not the best? idk  -->
        
            <div class=country-asia>
                <dl id="mat-list">
                    <dd class="country-list-title">Asia</dd>
                    <dd class="country-list-item">South Korea</dd>
                    <dd class="country-list-item">China</dd>
                    <dd class="country-list-item">Japan</dd>
                    <dd class="country-list-item">India</dd>
                    <dd class="country-list-item">Taiwan</dd>
                    <dd class="country-list-item">Malaysia</dd>
                    <dd class="country-list-item">Hong Kong</dd>
                    <dd class="country-list-item">Malaysia</dd>
                    <dd class="country-list-item">Turkey</dd>
                </dl>
            </div>

            <div class=country-southamerica>
                <dl id="mat-list">
                    <dd class="country-list-title">South America</dd>
                    <dd class="country-list-item">Colombia</dd>
                    <dd class="country-list-item">Brazil</dd>
                    <dd class="country-list-item">Venezuela</dd>
                    <dd class="country-list-item">Chile</dd>
                    <dd class="country-list-item">Peru</dd>
                    <dd class="country-list-item">Ecuador</dd>
                    <dd class="country-list-item">Bolivia</dd>
                    <dd class="country-list-item">Uruguay</dd>
                    <dd class="country-list-item">Paraguay</dd>
                </dl>
            </div>

            <div class=country-africa>
                <dl id="mat-list">
                    <dd class="country-list-title">Africa</dd>
                    <dd class="country-list-item">Morocco</dd>
                    <dd class="country-list-item">United Arab Emirates</dd>
                    <dd class="country-list-item">South Africa</dd>

                </dl>
            </div>

            <div class=country-europe>
                <dl id="mat-list">
                    <dd class="country-list-title">Europe</dd>
                    <dd class="country-list-item">Spain</dd>
                    <dd class="country-list-item">Greece</dd>
                    <dd class="country-list-item">Germany</dd>
                    <dd class="country-list-item">United Kingdom</dd>
                </dl>
            </div>

            <div class=country-northamerica>
                <dl id="mat-list">
                    <dt class="country-list-title">North America</dt>
                    <dd class="country-list-item">United States</dd>
                    <dd class="country-list-item">Mexico</dd>
                </dl>
            </div>
            
            <div class=country-misc>
                <dl id="mat-list">
                    <dd class="country-list-title"><br><br><br>And More...</dd>
                </dl>
            </div>

            </span>
        </div>
        
    </div>
</section>

<!-- Next Steps -->
<section class="next-section">
    <!-- Title -->
    <span class="next-section--title" title="Contact Us" [ngsReveal]="revealSettings">Contact Us</span>

    <!-- Content -->
    <span class="next-section--content" [ngsReveal]="revealSettings">
        JDM Metal Trading is available by e-mail, phone, WhatsApp, and WeChat. We respond to serious inquiries within 24 hours. We look forward to doing business with you!
    </span>

    <!-- Button -->
    <!-- removed button - might reinstate -->
    <!-- <div class="next-section--action" [ngsReveal]="revealSettings">
        <a href="mailto:juan@jdmmetal.com">
            <button>E-Mail</button>
        </a>
        
    </div> -->

</section>

<!-- Footer -->
<footer class="footer">
    <!-- Contact -->
    <div class="footer--column" [ngsReveal]="revealSettings">
        <a href="mailto:juan@jdmmetal.com" title="Email">E-mail</a>
        <a href="tel:6031112298" title="Cell Phone">Cell Phone</a>
    </div>

    <!-- Social -->
    <div class="footer--column" [ngsReveal]="revealSettings">
        <a href="https://www.linkedin.com/in/jaimez-mayz-87682283" target="_blank" title="Facebook">LinkedIn</a>
        <a href="https://www.twitter.com" target="_blank" title="Twitter">Twitter</a>
    </div>

    <!-- References 
    <div class="footer--column" [ngsReveal]="revealSettings">
        <a href="https://www.google.com" target="_blank" title="Reference 1">Reference 1</a>
        <a href="https://www.google.com" target="_blank" title="Reference 2">Reference 2</a>
    </div>
            -->
</footer>
