html {
    height: 100%;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
        Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-feature-settings: normal;
    background-color: rgb(36, 35, 35);
    color: rgb(255, 255, 255);
}

body {
    height: 100%;
    padding: 50px;

    @media only screen and (max-width: 600px) {
        padding: 20px;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 500;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 20px;
    transition: transform .25s;

    &:hover {
        transform: rotate(5deg);
    }
}

button {
    font-size: 1.05rem;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    transition: transform .25s;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

a {
    color: inherit;
    text-decoration: none;
    transition: transform .25s;

    &:hover {
        transform: scale(1.15);
    }
}

* {
    outline: none;
    box-sizing: border-box;
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #c0c0c0;
}